.main-content {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: #faf9f8;

}

.create-task {
    padding: 0.125rem 1rem;
    margin: 0 1rem;
    margin-top: 1rem;

    background-color: #fff;
    border-radius: 0.25rem;

    box-shadow: 0 0.125rem 0.5rem -0.375rem black;

    display: flex;
    align-items: center;
    user-select: none;

    z-index: 55555;
}

.add-task-container {
    background-color: inherit;
    flex: auto;
}

.create-task input {
    background-color: inherit;

    padding: 0.6rem;
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
}

.task-list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.task {
    padding: 0.725rem 1rem;

    background-color: #fff;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    user-select: none;
    gap: 1rem;

    box-shadow: 0 0.125rem 0.5rem -0.375rem black;

    z-index: 55554;

    cursor: pointer;
}

.task-title {
    flex: 1;
}

.task:hover {
    background-color: #faf9f8;
}

.active-task {
    background-color: #faf9f8;
    background-color: #f0f6ff;
}

.active-task:hover {
    background-color: #faf9f8;
    background-color: #f0f6ff;
}
