.side-nav-bar {
    display: flex;
    flex-direction: column;

    user-select: none;
    width: 18rem;
}

.header-nav-bar {
    display: flex;
}

.side-nav-bar-content {
    flex: 1;
    min-height: 4rem;
    overflow-y: scroll;
}

.side-nav-tab {
    padding: 0.75rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
    user-select: none;

    /* border: 1px solid black; */
}

.side-nav-tab:hover {
    background-color: #eeeeee;
}

.open-tab {
    background-color: #dddddd;
    border-left: 0.25rem solid #296fe6;
}

.open-tab:hover {
    background-color: #dddddd;
    border-left: 0.25rem solid #296fe6;
}

.separator-line {
    height: 0.125rem;
    width: 90%;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem auto;
}
